body {
  font-family: 'Roboto', sans-serif;
}

.section {
  background: url("../img/bg/bg.JPG") center center / cover no-repeat;
    background-color:rgb(0, 0, 0, 0.5);
    height: 100vh;
}
.section__contacts {
  background: url("../img/bg/bg1.jpg") center center / cover no-repeat;
  padding-top: 60px;
}

.section__myworks {
background-color: rgb(91, 96, 97);
padding-top: 60px;

}

.forma {
   background: url("../img/bg/bg1.jpg") center center / cover no-repeat;
 }

 .for {
  background-color: #888383;
  padding: 7px; 

  margin: 5px;
  
}

.ggg {
  font-size: 23px;
  color:#fff;
  text-align: center;
  font-weight: 500;
}



a {
  font-family: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-weight:900;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0.8;
}



.biogr__me {
    color:#fff;
    max-width: 450px;
    
    font-size: 19px;
    font-weight:700;
    text-transform: uppercase;
    background-color: rgb(5, 4, 22,0.6);
    padding:0 15px 15px 15px;
    margin-top: 120px;
}

.my__vid {
    margin: 50px auto 10px auto;
}

.shank {
    text-transform: uppercase;
    text-align: center;
    color:#fff;
    font-size: 20px;
    padding-bottom: 60px;
    margin: 0 auto;
}
 


.footer {
    background-color: #0a0a0a;
    color: #fff;
    min-height: 100px;
   
   
  }

  .contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    
  }

  .cont__item1,
  .cont__item2
 {
    margin-right: 40px;
 }

 .telefon__text {
    text-align: center;
    margin-top: 15px;
    color:#fff;
    font-weight: bold;
 }

 